.form {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 80vh; */
}

form{
    background-color: white;
    padding: 0px 60px;
    border-radius: 10px;
}

h1{
    color: rgb(77, 1, 77);
    text-align: center;
}


button{
  width: 100%;
  height: 40px;
  padding: 10px;
  border: none;
  background-color: rebeccapurple;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}

.formInput{
  display: flex;
  flex-direction: column;
  width: 280px;
}

input{
  padding: 10px;
  margin: 8px 0px;
  border-radius: 5px;
  border: 1px solid gray;
}

textarea {
  padding: 10px;
  margin: 8px 0px;
  border-radius: 5px;
  border: 1px solid gray;
}


label{
  font-size: 10px;
  color: gray;
}

span{
  font-size: 10px;
  padding: 3px;
  color: red;
  display: none;
}

input:invalid[focused="true"]{
  border: 1px solid red;
}

input:invalid[focused="true"] ~ span{
  display: block;
}

.gender,
.select,
.check {
  display: flex;
  width: 280px;
  margin: 8px 0;
}

.gender input {
  margin: 0px 15px;
}

.select select {
  width: 280px;
  height: 30px;
  margin: 5px 0;
}

.check input {
  margin: 0 10px;
}

.check label {
  text-align: center
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: gray;
}